---
layout: default
title: About Us
---

{% if page.url == "/" %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap" rel="stylesheet">
</head>

<div class="mainheading text-center">
    <h1>{{ site.title }}</h1>
    <p class="lead">{{ site.description }}</p>
</div>

<!-- Featured and Latest Toggle -->
<section class="featured-posts">
    <div class="section-title">
        <h2>
            <span id="featured-tab" class="active-tab" onclick="toggleTab('featured')">Featured</span>
            <span id="latest-tab" class="inactive-tab" onclick="toggleTab('latest')">Latest</span>
        </h2>
    </div>

    <!-- Featured Posts -->
    <div id="featured-section" class="tab-content">
        <div class="row">
            {% for post in site.posts %}
                {% if post.featured == true %}
                    {% include featuredbox.html %}
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- Latest Posts -->
    <div id="latest-section" class="tab-content" style="display: none;">
        <div class="row">
            {% for post in site.posts %}
                {% if post.latest == true %}
                    {% include latestbox.html %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<!-- Editor's Note Section -->
<section class="editors-note text-center">
    <h2><strong>Editor's Note</strong></h2>
    <p>By [Editor 1 Name], [Editor 2 Name]</p>

    <div class="row">
        <div class="col-md-6">
            {% include images.html image="images/Members/editor1.jpeg" name="Editor 1 Name" %}
        </div>
        <div class="col-md-6">
            {% include images.html image="images/Members/editor2.jpeg" name="Editor 2 Name" %}
        </div>
    </div>
</section>

<!-- The Team Section -->
<section class="the-team text-center">
    <h2><strong>The Team</strong></h2>
    <div class="row">
        <div class="col-md-3">
            {% include images.html image="images/Members/team1.jpg" name="Team Member 1" %}
        </div>
        <div class="col-md-3">
            {% include images.html image="images/Members/team2.jpg" name="Team Member 2" %}
        </div>
        <div class="col-md-3">
            {% include images.html image="images/Members/team3.jpg" name="Team Member 3" %}
        </div>
        <div class="col-md-3">
            {% include images.html image="images/Members/team4.jpg" name="Team Member 4" %}
        </div>
    </div>
</section>

{% endif %}
