---
layout: default
title: About Us
---

<!-- Editor's Note Section -->
<section class="editors-note text-center">
    <h2><strong>Editor's Note</strong></h2>
    <p>By [Editor 1 Name], [Editor 2 Name]</p>

    <div class="row">
        <div class="col-md-6">
            {% include images.html image="images/Members/editor1.jpeg" name="Editor 1 Name" %}
        </div>
        <div class="col-md-6">
            {% include images.html image="images/Members/editor2.jpeg" name="Editor 2 Name" %}
        </div>
    </div>
</section>

<!-- The Team Section -->
<section class="the-team text-center">
    <h2><strong>The Team</strong></h2>
    <div class="row">
        <div class="col-md-3">
            {% include images.html image="images/Members/team1.jpg" name="Team Member 1" %}
        </div>
        <div class="col-md-3">
            {% include images.html image="images/Members/team2.jpg" name="Team Member 2" %}
        </div>
        <div class="col-md-3">
            {% include images.html image="images/Members/team3.jpg" name="Team Member 3" %}
        </div>
        <div class="col-md-3">
            {% include images.html image="images/Members/team4.jpg" name="Team Member 4" %}
        </div>
    </div>
</section>

