<style>
    #result {
        padding-top: 2vh;
    }
</style>

<h5 
    class="font-weight-bold mb-3"
    style="
        font-size: 0.95rem;
        text-transform: uppercase;
        letter-spacing: 1px;          
    "
>
    Subscribe to Our Newsletter
</h5>

<form id="emailForm">
    <input type="email" name="email" id="email" required placeholder="Enter your email address">
    <button type="submit" id="submit">Submit</button>
</form>


<script src="{{ site.baseurl }}/assets/js/subscription.js"></script>